
body {
    background-image: url("assets/subhub.png");
    background-size: cover;
  }

#logInBanner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.subHubTitle {
    font-size: 175px;
}

#headerRow {
    height: 180px;
    display: flex;
    align-items: center;
}

.subHeading {
    font-size: 35px;
}

#subRow {
    height: 100px;
    display: flex;
}

#searchInput {
    height: 80px;
}