

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("arches-1920x1080.png");
    background-size: cover;
  }

header, nav {
    background:black;
    color: #FEFCFB;
}

option {
  background-color: orange; 
  width: 'fit';
  color: #000; ;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#footerHp {
  left: 0;
  bottom: 0;
  width: 100%;
}

#selectFoodBtn button {
  background-color: #E55812;
  color: white;
}

