

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header, nav {
    background:orange;
    color: #FEFCFB;
}

option {
  background-color: orange; 
  width: 'fit';
  color: #000; ;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}